input {
    margin-top: 1px;
    width: 20vw;
    box-shadow: 2px 4px 2px rgb(37, 36, 36);
    text-align: center;
    height: 65px;
    margin-left: -43vw;
    font-family: 'Caveat', cursive;
    font-size: 30px; 
}

@media (max-width:320px) {
    input {
        width: 45vw;
        margin-left: -24vw;
        font-size: 25px; 
    }
  }