.header {
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.user {
    width: 90px;
    height: 90px;
    position: relative;
    border: 2px solid black;
    background: url('../../images/person.png');
    background-size: 90px; 
    border-radius: 50%;
    margin: 12px;
}

.time {
    width: 40vw;
    height: 3vh;
    position: relative;
    border: 2px solid black;
    border-radius: 50px;
    margin: 12px;
}

.remaining {
    width: 40vw;
    height: 3vh;
    background: rgb(28, 228, 28);
    border-radius: 50px;  
}

.animate {
    width: 40vw;
    height: 3vh;
    background: rgb(28, 228, 28);
    border-radius: 50px;  
    animation-name: timer;
    animation-duration: 15s;
}

@keyframes timer {
    0% {width: 40vw;}
    1% {width: 39vw;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;}
    25% {background: rgb(43, 255, 0)}
    50% {background: yellow}
    75% {background: red}
    100% {width: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background: red}
  }

.score {
    width: 80px;
    height: 80px;
    position: relative;
    border: 2px solid black;
    margin: 1.2vw;
    text-align: center;
    box-shadow: 3px 5px 2px rgb(37, 36, 36);
}

.score_val {
    text-align: center;
    font-size: 40px;
}

@media (max-width:420px) {
    .user{
        width: 60px;
        height: 60px;
        background-size: 60px; 
        border-radius: 50%;
        margin: 8px;
    }

    .score {
        width: 60px;
        height: 60px;
        margin: 1vw;
    }

    .score_val {
        font-size: 30px;
    }

    .time {
        width: 45vw;
        height: 2vh;
        margin: 5px;
    }
    
    .remaining {
        width: 45vw;
        height: 2vh;  
    }
    
    .animate {
        width: 45vw;
        height: 2vh;
    }

    @keyframes timer {
        0% {width: 45vw;}
        1% {width: 44vw;}
        25% {background: rgb(43, 255, 0)}
        50% {background: yellow}
        75% {background: red}
        100% {width: 0px;
            background: red}
      }
  }